::root {
    --robotoFont: 'Roboto Condensed', sans-serif;
    --lobsterFont: 'Lobster', cursive;   
    --dancingFont: 'Dancing Script', cursive; 
}
@font-face {
  font-family: "Bebas";
  src: url("../webfonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Avenir";
  src: url("../webfonts/AvenirLTStd-Book.otf");
}
body {
    padding: 0;
    margin: 0;
}
.oremitContainer {
    width: 100%;
    height: inherit;
    margin: 0 auto;
}
.bannerContainer {
    width: 100%;
    min-height: 100vh;
    max-height: inherit;
    background-image: url(../images/banner/city2.jpg);
    background-size: cover; 
}
.bannerColor {
    background: rgba(23, 39, 52, 0.7);
    min-height: 100vh;
    max-height: inherit;
    width: 100%;
}
.bannerContent {
    width: 100%;
    height: inherit;
    padding-top: 0px;
    margin: 0 auto;
}
.navContainer {
    width: 100%;
    height: inherit;
    padding-top: 0px;
    margin: 0 auto;
}
.navColor {
    color: #fff !important;
}
.quote {
    background-color: #fff !important;
    width: auto;
    height: 100%;
    color: #132139 !important;
    border-radius: 2px;
    font-family: "Bebas";
}
.intro-body {
    padding-left: 0;
}
.btext {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.btext2 {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width: 50%;
}
.hidden-sm {
    display: none;
}
.intro1 {
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bebas";
}
.intro2 {
    font-family: 'Avenir';
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 200%;
    text-transform: capitalize;
    padding: 20px;
}
.colorit {
    color: #09AEEC;
    text-align: center;
}
.waveDiv {
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}
.waveDiv > img {
    display: block;
    width: 40px;
    margin: 0 auto;
}
.nextArrow {
    width: 50px;
    display: block;
    height: 50px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
@media (min-width: 576px) {
.intro1 {
   color: #fff;
    font-weight: 500;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bebas";
    width: 80%;
    margin: 0 auto;
}
.intro2 {
    font-family: 'Avenir';
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 200%;
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
}
.hidden-sm {
    display: inherit;
}
.visible-sm {
    display: none;
}
}
@media (min-width: 768px) {
.navContainer {
    width: 90%;
    height: inherit;
    padding-top: 10px;
    margin: 0 auto;
}
.intro1 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    padding-top: 40px;
    text-align: left;
    text-transform: uppercase;
    font-family: "Bebas";
    width: 100%;
    margin: 0 auto;
}
.waveDiv {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
}
.waveDiv > img {
    display: auto;
    width: 40px;
    margin: 0 auto;
}
.intro2 {
    font-family: 'Avenir';
    color: #ffffff;
    font-size: 15px;
    text-align: left;
    line-height: 200%;
    text-transform: capitalize;
    clear: both;
    margin: 0;
    width: 70%;
}
}
@media (min-width: 992px) {
.navContainer {
    width: 80%;
    padding-top: 40px;
}
.intro1 {
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    margin-top: 0px;
}
.intro2 {
    font-family: 'Avenir';
    color: #EAE6E6;
    font-size: 22px;
    line-height: 150%;
    width: 37%;
}
}
@media (min-width: 1200px) {
.navContainer {
    width:75%;
    padding-top: 40px;
}
.intro1 {
    color: #fff;
    font-weight: 500;
    font-size: 54px;
    margin-top: 0px;
    padding-top: 40px;
}
.intro2 {
    width: 43%;
}
}
.serviceContainer {
    width: 100%;
    height: inherit;
    padding-top: 60px;
    padding-bottom: 100px;
}
.serviceHeader {
     font-family: 'Roboto Condensed', sans-serif
     font-size: 20px;
     font-weight: bold;
     color: #8E8E8E;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
}
.headerImg {
    margin: 0 auto;
    width: 70px;
    height: 70px;
}
.headerImg img {
    display: block;
    width: 100%;
    height: 100%;

}
.headerTitle {
    text-align: center;
    font-size:25px;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize; 
}
@media(min-width: 576px) {
.headerTitle {
    text-align: center;
    font-size: 36px;
    padding: 20px;
}    
}
.serviceTypeContainer {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    margin-top: 40px;
}
.mainContainer {
    margin: 19px 0;
}
.solarImage {
    background-image: url(../images/indexService/bannerImage2.jpg);
    background-size: cover;
    background-position: center;
}
.imageDiv {
    height: 410px;
    text-align: left;
}
.opacityMajor {
    height: 100%;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 175px 35px;
}
.opacityLayer1 {
    background: rgba(182, 52, 51, 0.65);
}
.serviceContentHeader {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
.opacityMajor {
    height: 100%;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 90px 10px;
}
.minorText {
    font-size: 16px;
    font-family: "Avenir";
    padding-top: 10px;
    padding-right: 0px;
}
.minorText3 {
    font-size: 16px;
    font-family: "Avenir";
    padding-top: 10px;
    padding-right: 0px;
}
.minorText2 {
    font-size: 16px;
    font-family: "Avenir";
    padding-top: 5px;
    padding-right: 9px;
}
.buttonArea {
    padding-left: 14px;
    padding-top: 24px;
}
@media(min-width: 576px) {
.opacityMajor {
    height: 100%;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 120px 35px;
}
.minorText {
    font-size: 16px;
    font-family: "Avenir";
    padding-top: 10px;
    padding-right: 100px;
}
.minorText2 {
    font-size: 16px;
    font-family: "Avenir";
    padding-top: 5px;
    padding-right: 9px;
}
.minorText3 {
    font-size: 16px;
    font-family: "Avenir";
    padding-top: 10px;
    padding-right: 100px;

}
}
@media(min-width: 992px) {
.minorText3 {
    font-size: 16px;
    font-family: "Avenir";
    padding-top: 10px;
    padding-right: 400px;

}
}
.inverterImage {
    background-image: url(../images/indexService/inverter.jpg);
    background-size: cover;
    background-position: center;
}
.opacityLayer2 {
    background: rgba(18, 31, 40, 0.65);
}
.officeEquipment {
    background-image: url(../images/indexService/officeEquipment.jpg);
    background-size: cover;
    background-position: center;
}
.opacityLayer3 {
    background: rgba(115, 0, 153, 0.65);
}
.cctvCameraImg {
    background-image: url(../images/indexService/cctv.jpg);
    background-size: cover;
    background-position: center;    
}
.opacityLayer4 {
    background: rgba(82, 187, 235, 0.65);
}
.opacityLayer5 {
    background: rgba(28, 28, 28, 0.65);
}
.oilGas {
    background-image: url(../images/indexService/oil.jpg);
    background-size: cover;
    background-position: center;    
}
.valuesContainer {
    background-image: url(../images/banner/bbb.jpg);
    background-size: cover;
    background-position: center; 
}
.valueOpacity {
    background: rgba(0, 25, 64, 0.8);
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: inherit;
}
.colorWhite {
    color: #fff;
}
.valueMananger {
   margin: 0 auto;
   width: 100%; 
   height: inherit;   
   margin-top: 20px;
}
@media(min-width: 576px) {
.valueMananger {
   margin: 0 auto;
   width: 90%;
   margin-top: 20px;
}
}
.valueContent {
    width: 98%;
    margin: 0 auto;
    height: 370px;
    background: rgba(250, 250, 250, .8);
    border-bottom: 8px solid red;
    margin-bottom: 20px;
}
.valueHeader {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Bebas';
    text-align: center;
    color: #09AEEC;
}
.valueMessage {
    margin-top: 5px;
    font-size: 17px;
    text-align: center;
    color: #000;
    font-family: 'Avenir';
    padding: 30px;
}
.partnersContainer {
    width: 100%;
    height: inherit;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #fff;
}
.partnerIcon {
    text-align: center;
    padding-top: 10px;
    color: #fff;
    font-size: 40px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #09AEEC;
}
@media (min-width: 576px) {
.partnerIcon {
    font-size: 70px;
}
}
.hireDiv {
    width: 100%;
    height: inherit;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
.hireDiv > button {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
        display: block;
        font-family: 'Bebas';
}

/* Footer */

textarea {
    resize: none;
}

#footer {
    margin-top: 0;
}

.footer-img {
    background-image: url('../images/contact-bg.png');
    background-size: contain;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 91px 0px;
}

.footer-div1 {
    background: #F1F1F1;
    height: 530px;
    padding: 70px 100px;
}

.footer-div2 {
    background: #474747;
    height: 530px;
    padding: 150px 40px;
}

.footer-div2>div {
    color: #fff;
    margin: 20px 0;
}

.footer-div2>div>a {
    color: #fff;
}

.contact {
    background: rgba(255, 255, 255, 0.7);
    border: none;
}

.contact-div {
    margin: 14px 0px;
}

.contact.form-control::-webkit-input-placeholder {
    color: #474747;
}

.contact.form-control::-moz-placeholder {
    color: #474747;
}

.contact.form-control:-ms-input-placeholder {
    color: #474747;
}

.contact.form-control:-o-input-placeholder {
    color: #474747;
}

.footer-bottom {
    color: #707070;
    margin: 30px 0;
    text-align: center;
    font-size: 14px;
}

.fa.fa-navicon {
    color: white;
}

.partnerHover img {
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}
/* Responsive Design */

@media (max-width: 800px) {
    /* footer */
    #footer {
        margin-top: 0;
    }
    .footer-div1 {
        background: #F1F1F1;
        height: auto;
        padding: 70px 16px;
    }
    .footer-img {
        padding: 0px;
    }
    .footer-div2 {
        height: auto;
        padding: 70px 15px;
    }

}
.contactBannerContainer {
    width: 100%;
    height: 70vh;
    background-image: url(../images/banner/contact.jpg);
    background-size: cover; 
}
.contactColor {
    background: rgba(11, 74, 109, 0.7);
    height: 70vh;
    max-height: inherit;
    width: 100%;
}
.mapContainer {
    width: 100%;
    height: inherit;
}
.mapArea {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: #999;
    margin-top: 40px;
}
.intro2 > button {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        font-family: 'Bebas';
}
.aboutBannerContainer {
    width: 100%;
    min-height: 80vh;
    max-height: inherit;
    background-image: url(../images/banner/about.jpeg);
    background-size: cover; 
}
.aboutBannerColor {
    background: rgba(23, 39, 52, 0.7);
    min-height: 80vh;
    max-height: inherit;
    width: 100%;
}
.largeText {
    width: 100%;
    padding-top: 80px;
    color: #fff;
    text-align: center;
    font-family: 'Bebas';
    font-size: 40px;
    text-transform: uppercase;
}
.smallMidText {
    width: 90%;
    height: auto;
    padding: 10px;
    color: rgba(255, 255, 255, .7);
    font-family: Avenir;
    margin: 0 auto;
    text-align: center;
}
.serviceContainer2 {
    width: 100%;
    height: inherit;
    padding-top: 31px;
    padding-bottom: 100px;
}
.imageLayer > a >  img {
    padding: 10px;
    width: 100%;
    display: block;
    height: 300px;
    border: 1px solid #ededed;
    border-radius: 2px;
    margin-top: 10px;
}
.gallery {
    width: 100%;
    height: inherit;
    padding: 10px;
    margin: 0 auto;
}
.projectBannerContainer {
    width: 100%;
    min-height: 90vh;
    max-height: inherit;
    background-image: url(../images/banner/project.jpg);
    background-size: cover; 
}
.projectBannerColor {
    background: rgba(11, 74, 109, 0.7);
    height: 90vh;
    max-height: inherit;
    width: 100%;
}
.intro3 {
    font-family: 'Avenir';
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 200%;
    text-transform: capitalize;
    padding: 20px;
    margin-top: 40px;
}
.intro3 > button {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Bebas';
}
@media (min-width: 576px) {
.intro3 {
    font-family: 'Avenir';
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 200%;
    text-transform: capitalize;
    padding: 20px;
    margin-top: 100px;
}
.intro3 > button {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Bebas';
}
}